@use "../../scss/" as *;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16rem 0;
    gap: 16rem;

    .logoContainer{
        display: flex;
        align-items: center;
        gap: 12rem;
        width: fit-content;

        .logoTitle{
            width: 112rem;
            @include fnt(18, 24, $weight: 600, $color: $blue-dark-500);
        }
    }
    .navContainer{
        display: flex;
        align-items: center;
        gap: 16rem;

        .navItem{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}

.searchInputContainer{
    width: 100%;
    margin-left: 16rem;
    position: relative;
    display: flex;
    align-items: center;

    .dropdownButton{
        position: absolute;
        z-index: 99;
        left: 5rem;
    }
}

.searchInput{
    width: 100%;
    
    
    input{
        padding: 4rem 110rem !important;
        background-color: $gray-100;
        border-radius: 12rem !important;
    }

    .inputContainer .flexInput .formInput.error{
        border: none;
    }
}
